<section class="form-container">
        <div>
            <form id='login-form' class="form">
                <div class="formTitle">Log In</div>
                <input type="text" id="email-login" name="email" class="email" placeholder="Email" required>

                <br>
                <input type="password" id="password-login" name="password" class="password" placeholder="Password" required>

            <br>
            <button type="submit" class="activeButton">Log in</button>
        </form>
    </div>
        <br>
    <div>
        <div class="subtitle">Don't have an account?</div>
        <button type="createUser" id="signUpButton">Create Account</button>
    </div>

</section>
<script src="/js/login.js"></script>